.Landing-main-container {
   width: 50%;
   margin: 2rem auto;
   padding: 1rem 0;
   background-color: rgba(179, 10, 10, 0.733);
   border-radius: 0.5rem;
   border: 0.5px solid darkgray;
}

.Landing-button-container {
   width: 90%;
   display: flex;
   margin: 1rem auto 0;
   justify-content: flex-end;
}

.Landing-button-div {
   margin-right: 16px;
}

