.Landing-main-container {
   width: 50%;
   margin: auto;
   padding: 1rem 0;
}

.Landing-button-container {
   width: 90%;
   display: flex;
   margin: 1rem auto 0;
   justify-content: flex-end;
}

.Landing-button-div {
   margin-right: 16px;
}

