.ShowBlog-main-container {
   width: 90%;
   margin: 1rem auto;
}

.ShowBlog-header {
   display: flex;
   justify-content: space-around;
   background-color: rgba(41, 69, 194, 0.25);
   border-radius: 0.3rem;
   border: 0.5px solid black;
}

.ShowBlog-h2 {
   margin-top: 2rem;
}

.ShowBlog-blog-container {
   width: 100%;
   display: flex;
   margin: 2rem auto;
   justify-content: flex-start;
   background-color: rgba(41, 69, 194, 0.1);
   border-radius: 0.3rem;
   border: 0.5px solid black;
}

.ShowBlog-div {
   width: 100%;
   margin: 1rem;
}

.ShowBlog-imagethumbnail {
   display: flex;
   width: 100%;
   margin-top: 1rem;
}

.ShowBlog-addedby-date {
   margin-top: 1rem;
}

.ShowBlog-bottom-container {
   margin-top: 1rem;
}

.ShowBlog-comment-container {
   width: 90%;
   margin: 0.5rem auto;
   padding: 0.2rem 1rem;
   background-color: white;
   border-radius: 0.3rem;
}

.ShowBlog-comment-container:hover {
   background-color: rgba(41, 69, 194, 0.25);
   transition: ease-in-out 0.25s;
}

.SlowBlog-postedby {
   margin-right: 0.5rem;
}

.ShowBlog-hr {
   margin: 1rem auto;
}

.ShowBlog-p {
   margin: 0.5rem 0;
}

.ShowBlog-span {
   font-size: 0.85rem;
}