.LinkButton-link-new {
   padding: 0.5rem 1rem;
   border-radius: 0.45rem;
   border: 1px solid black;
   font-size: 1.2rem;
   font-weight: 600;
   letter-spacing: 0.15rem;
   margin-bottom: 1rem;
   text-decoration: none;
   color: black;
}

.LinkButton-link-new:hover {
   border: 1px solid darkgray;
   background-color: rgba(211, 211, 211, 0.226);
   font-weight: 700;
}

.LinkButton-div {
   margin: 2rem 4rem;
}