.ImageThumbnail-main-container {
   display: flex;
   width: 95%;
   justify-content: space-between;
   align-items: ceThumbnail
}

.ImageThumbnail-image-div {
   justify-content: space-between;
}

.ImageThumbnail-image {
   width: 200px;
   border-radius: 0.35rem;
}

.ImageThumbnail-image-edit:hover {
   opacity: 50%;
   color: white;
}