.SnackbarGreen {
   display: flex;
   width: 90%;
   height: 64px;
   background-color: rgba(3, 87, 3, 0.15);
   margin: auto;
   border-radius: 0.5rem;
   color: white;
   align-items: center;
   justify-content: center;
}

.SnackbarGreen-p {
   font-size: 1.5rem;
   font-weight: 600;
   letter-spacing: 0.1rem;
   word-spacing: 0.15rem;
   
}

