.InputTextDoubleLength-label {
   margin: 8px 16px;
   text-align: start;
   font-size: 0.85rem;
   font-weight: bold;
}

.InputTextDoubleLength-span {
   margin-left: 4px;
}

.InputTextDoubleLength-input {
   width: 540px;
   height: 35px;
   margin-left: 0;
   margin-top: 0.25rem;
   border-radius: 0.35rem;
   border: 1px solid lightgray;
   font-size: 1.2rem;
}

.InputTextDoubleLength-input::placeholder {
   font-size: 1.2rem;
   padding-left: 0.5rem;
   color: lightgray;
}